* {
    margin: 0 auto;
    padding: 1ex;
}

body {
    background-color: rgb(95, 158, 160, 1);
    font-size: 16px;  
}

header, 
footer {
    background-color: rgb(222, 184, 135, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(0, 0, 139, 1);
}


/* Class Selectors ***********************************/
.page {
    max-width: 960px;
    margin: 0 auto;
}